@using adm = WebAppPizza.Areas.Admin.Models

@model List<adm.PizzaViewModel>

@{
    ViewData["Title"] = "Index";
    var PaginationPartial = new PaginationViewModel() { CurrentPage = ViewBag.CurrentPage, ItemsCount = (int)ViewBag.ItemsCount };
}

<h2>Nos Pizzas</h2>

@Html.Partial("_PaginationPartial", PaginationPartial)

<div class="row pizzas">


    @foreach (var pizzaVM in Model)
    {
        <div class="col-md-4">
            <div class="thumbnail">
                <img src="~/images/@pizzaVM.Image" alt="Pizza @pizzaVM.Title">
                <div class="caption">
                    <h3>@pizzaVM.Title</h3>
                    <p>@pizzaVM.Description</p>
                    <p>@pizzaVM.PriceTTC</p>
                    <p><a asp-controller="Cart" asp-action="AddToCart" asp-route-id="@pizzaVM.IDPizza" class="btn btn-primary" role="button">Commander</a></p>
                    <a data-id="@pizzaVM.IDPizza" class="btn btn-primary detail" role="button">Détails</a>
                </div>
            </div>
        </div>
    }

    @Html.Partial("_PaginationPartial", PaginationPartial)

    <div class="container-modal"></div>

    @section Scripts{
        <script src="~/js/pizza-controller.js"></script>
    }
</div>